.container
  .row
    .col-md-12
      h2 Timetrack
  .row
    form(ng-submit="addTask()")
      .form-group.col-md-6
        input.form-control(name="task", type="text", placeholder="Enter task", required, ng-model="task.description")
      .form-group.col-md-2
        button.btn.btn-primary Add
  .row
    .col-md-6
      ul.list-group
        li.list-group-item.clearfix(ng-repeat="task in tasks track by $index")
          .btn-group.btn-group-xs.pull-right
            span.btn.btn-xs.btn-primary.glyphicon.glyphicon-play(ng-if="!task.isTracking" ng-click="startTracking(task)")
            span.btn.btn-xs.btn-primary.glyphicon.glyphicon-pause(ng-if="task.isTracking" ng-click="pauseTracking(task)")
            span.btn.btn-xs.btn-danger.glyphicon.glyphicon-trash(ng-click="removeTask(task)")
          |{{ task.description }}
          div
            .label.label-success {{ getTimeDuration(task) }}


  .row
    .col-md-6
      .well
        i.glyphicon.glyphicon-time
        |&nbsp;Total time: {{ total }}

